@charset "UTF-8";
.markdown {
  background-color: #FFF;
  color: #4a4a4a;
  /* //内部图片，需要配合相关插件使用
  .article-img{  
  	max-width: 80%;
  	margin-left: auto;
  	margin-right: auto; 
  	margin-top: 1rem;
  	margin-bottom: 1rem;
  	max-height: 30rem;
  	overflow: hidden;
  	//控制图片内容是否居中，与上层标签<p>配合使用，（main.js 加载时控制）
  	display: flex;
  	align-items: center;
  	box-shadow: 2px 20px 40px 10px rgba(0,0,0,.15);
  	
  
  	img{
  		width: 100%; 
  		margin-left: auto;
  		margin-right: auto;
  		border-radius: .25rem;
  		-moz-transition: -moz-transform 0.2s ease-out;
  		-webkit-transition: -webkit-transform 0.2s ease-out;
  		-ms-transition: -ms-transform 0.2s ease-out;
  		transition: transform 0.2s ease-out;
  		
  
  		&:hover{
  			-moz-transform: scale(1.05);
  			-webkit-transform: scale(1.05);
  			-ms-transform: scale(1.05);
  			transform: scale(1.05);
  		}
  	}
  }   */ }
  .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    font-weight: 500;
    color: #363636; }
    .markdown h1:before, .markdown h2:before, .markdown h3:before, .markdown h4:before, .markdown h5:before, .markdown h6:before {
      content: "#";
      margin-right: 5px;
      color: #2196f3; }
  .markdown h1 {
    font-size: 2.5rem;
    margin-bottom: 1.8rem;
    margin-top: 2.3rem; }
  .markdown h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem; }
  .markdown h3 {
    font-size: 1.75rem;
    margin-bottom: 1.2rem;
    margin-top: 1.7rem; }
  .markdown h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1.25rem; }
  .markdown h5 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    margin-top: 1.25rem; }
  .markdown h6 {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1.25rem; }
  .markdown p {
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 400; }
    .markdown p code {
      padding: 0;
      padding-top: .2em;
      padding-bottom: .2em;
      margin: 0;
      color: #e83e8c;
      font-size: .9em;
      word-break: break-word;
      background-color: #f6f8fa;
      font-family: SFMono-Regular,Liberation Mono,Roboto Mono,Menlo,Monaco,Consolas,Courier New,Courier,monospace; }
  .markdown pre[class*="language-"] {
    overflow-x: auto;
    border-radius: 3px;
    white-space: pre;
    word-wrap: normal;
    word-break: normal; }
  .markdown .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
  .markdown .table-responsive > .table-bordered {
    border: 0; }
  .markdown table {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-collapse: collapse;
    border-right: 0.08rem solid #000000;
    border-bottom: 0.08rem solid #000000; }
    .markdown table th, .markdown table td {
      padding: 0.5rem 0.5rem;
      border-top: 0.08rem solid #000000;
      border-left: 0.08rem solid #000000; }
    .markdown table tbody tr:nth-child(2n+1) {
      background-color: #ddd; }
  .markdown hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 0.1rem solid #ea6753;
    position: relative; }
    .markdown hr:before {
      content: "sep line";
      position: absolute;
      top: -12px;
      left: calc(50% - 40px);
      padding: 0 .5rem;
      background-color: #fff;
      color: #dbdbdb;
      font-size: 12.8px;
      font-size: .8rem;
      font-family: SFMono-Regular,Liberation Mono,Roboto Mono,Menlo,Monaco,Consolas,Courier New,Courier,monospace; }
  .markdown blockquote {
    background-color: #f4f3f1;
    padding: 0.1em 2em 0.5em 3em;
    margin: 1em 0;
    border-left-width: 3px;
    margin-left: 1em;
    position: relative;
    color: #4a4a4a;
    border-left: 3px solid #ff1700; }
    .markdown blockquote:before {
      content: "\201C";
      font-size: 3rem;
      position: absolute;
      left: 4px;
      top: 10px;
      color: #e95420; }
  .markdown b, .markdown strong {
    font-weight: 700;
    color: #ff1700; }
  .markdown em {
    color: #ff1700;
    font-style: italic; }
  .markdown ul, .markdown ol {
    line-height: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
    .markdown ul > li, .markdown ol > li {
      margin-top: 0.5rem;
      line-height: 1.8rem; }
  .markdown ul {
    list-style: disc outside; }
  .markdown ol {
    list-style: decimal outside; }
  .markdown ul[class="task-list"] {
    list-style-type: none; }
  .markdown .videoIframe {
    height: 60vh;
    width: 80vh; }
  @media (max-width: 420px) {
    .markdown .videoIframe {
      max-height: 200px;
      max-width: 300px; } }
  .markdown img {
    display: block;
    height: auto;
    max-width: 80%;
    margin: 2rem auto;
    -webkit-box-shadow: 2px 20px 40px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 20px 40px 10px rgba(0, 0, 0, 0.15);
    border-radius: .25rem; }
  .markdown kbd {
    display: inline-block;
    padding: .25em;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-bottom-color: #b5b5b5;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 #b5b5b5;
    box-shadow: inset 0 -1px 0 #b5b5b5;
    font-size: .8em;
    line-height: 1.25;
    font-family: SFMono-Regular,Liberation Mono,Roboto Mono,Menlo,Monaco,Consolas,Courier New,Courier,monospace;
    color: #4a4a4a; }
  .markdown a {
    padding-bottom: .1em;
    border-bottom: 1px dashed rgba(70, 185, 128, 0.5);
    color: #5fbf5e;
    opacity: 1; }
    .markdown a:focus, .markdown a:hover {
      border-bottom: 1px solid rgba(70, 185, 128, 0.5);
      text-decoration: none !important; }
    .markdown a.TocAnchor {
      border-bottom: none; }
  .markdown dl dt {
    color: #5fbf5e;
    margin-top: 16px;
    margin-top: 1rem; }
  .markdown code {
    padding: 0;
    padding-top: .2em;
    padding-bottom: .2em;
    margin: 0;
    color: #e83e8c;
    font-size: .9em;
    font-family: SFMono-Regular,Liberation Mono,Roboto Mono,Menlo,Monaco,Consolas,Courier New,Courier,monospace; }

/*# sourceMappingURL=markdown.css.map */
