//主要保存相关插件的 CSS
.share-widget{
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	zoom: 1; 
	transition: .3s;
	text-align: center;
	opacity: .7;
	width: 28px;
	height: 28px;
	line-height: 26px;
	border: none;
	color: #fff;
	background: #4d4d4d;
	text-shadow: none;
	margin-right: 2rem;
}

//浮动导航栏锚点
.tableContentToc{
   display:block; 
   position: fixed; 
   z-index: 99;
 
   top: 25%;
   right: 25px;
   border-radius: 2px; 

   box-shadow: 0 0 2px rgba(0,0,0,.14), 0 2px 4px rgba(0,0,0,.28);
   transition: box-shadow 150ms cubic-bezier(0,0,.2,1);
   -webkit-transition: box-shadow 150ms cubic-bezier(0,0,.2,1);
   -moz-transition: box-shadow 150ms cubic-bezier(0,0,.2,1);
   -o-transition: box-shadow 150ms cubic-bezier(0,0,.2,1);

	white-space: nowrap; 
	cursor: pointer; 

	>i{
	    font-size: 1rem;
	    color: #51a277;
	    background: #fff;
	    padding:0.5rem 0.5rem ; 
	    text-align: center;  
	} 
}


//搜索栏样式定义
.search-input-card{
	display: inline-block;
  	position: relative;
  	width: 100%;

  	span,input{
  		width: inherit;
  	}
  	.search-input{
		max-width: 80%; 
  		margin-right: auto;
  		margin-left: auto;
		padding: 0.5rem; 

		border: 2px solid #e4e4e4;
		border-radius: 4px;
		-webkit-transition: .2s;
		transition: .2s;
		font-family: "Montserrat", sans-serif;
		box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
		font-size: 0.875rem;
		box-sizing: border-box;
		color: #333;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

			&::-webkit-search-decoration,&::-webkit-search-cancel-button,
		  	&::-webkit-search-results-button,::-webkit-search-results-decoration {
		  		display: none;
		  	}
		  	&:focus{
		  		outline: 0;
			    border-color: #3a96cf;
			    box-shadow: 4px 4px 0 rgba(58, 150, 207, 0.1);
		  	}
  	}
  	.input-search-icon{
  		height: 16px;
		width: 16px;
		position: absolute;
		top: 25%;
	    right: 68px;
	    fill: #e4e4e4;
	    opacity: 0.5;
  	} 
}

//侧边栏
.sidebar{
	@mixin toc-item-li{
		text-align: left; 
		list-style-type: none; 
	}
	
	@mixin toc-anchor{
		text-decoration: none;
		padding-left: 0.5rem;
	    color: #364149; 
	    overflow:hidden;  
	  	text-overflow:ellipsis; 
	  	white-space:nowrap;   
	  	display: block;
	  	max-width: 99%;
		border-bottom: 0.1em dotted;

		&:hover{
			font-weight: bolder;
	    	color: #4183c4;
		}
	} 
	//分类页面
	.categories-toc-item-li{
		@include toc-item-li;
		margin: 1rem auto 1rem 0rem;
		
		
		& .sectionSup{ 
			color: #fff;
			background-color: #dc3545;
			display: inline-block;
			margin-left:1rem;
			padding: 0.25em 0.4em;
			font-size: 75%;
			font-weight: 700;
			line-height: 1;
			text-align: center;
			white-space: nowrap;
			vertical-align: baseline;
			border-radius: 0.25rem;
		} 

		a{
			@include toc-anchor;
			font-size: 1rem; 
		} 
	}

	.article-toc-item-ul{
		padding-left: 0.5rem;
	    margin-left: 0.5rem; 
	    max-width: 99%;
	    
	    .article-toc-item-li{
		    @include toc-item-li;
		    border-bottom: none;  

		    a{
				@include toc-anchor;
				font-size: 0.8rem; 
			}
		}
	}
	.toc-item-scrollSync{
	  border-left:  5px solid #3f51b5;   
	}
}
