.share-widget{
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	margin: 10px;
	transition: .3s;
	text-align: center;
	opacity: .7;
	width: 28px;
	height: 28px;
	line-height: 26px;
	border: none;
	color: #fff;
	background: #4d4d4d;
	text-shadow: none;
}